{% extends "base.html.twig" %}

{% block title %}
   SymfCars - Insérer nouvelle annonce voiture
{% endblock %}

{% block body %}
	<div class="container">

		<h1 class="mt-4">Création d'une annonce voiture</h1>

		{{ form_start(form) }}


		{{ form_end(form) }}

	</div>

</div>{% endblock %}
