.container{
    padding: 2rem;
}
form[name="cars"]{
    max-width: 50%;
    padding-bottom: 5rem;
}
.card {
    width: 20rem;
    height: 38rem;
}
.col-lg-4 {
    display: flex;

}
.wrapper{

    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

}

.card img{
    object-fit: cover;
    height: 15rem;
}
.card > .nophoto{
    
    opacity: .2;
}
