{% extends 'base.html.twig' %}

{% block title %}Edition profil utilisateur{% endblock %}

{% block body %}
<div class="container">

    <h1 class="mt-4">Edition profil utilisateur</h1>

    {{ form(form) }}

</div>
{% endblock %}